@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 55vh;
    background-color: #1F2937;
    padding: 1em 12em;
}

div {
    display: block;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

li a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 6em;
}

.main-block {
    display: flex;
    justify-content: space-between;
}

.text {
    max-width: 40%;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.image {
    max-width: 50%;
    flex: auto;
    background-color: gray;
    align-items: center;
    justify-content: center;
    display: flex;
}

.small{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.button {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    padding: 5px 1em;
    max-width: 5em;
    margin-top: 1em;
    border-radius: 7px;
}

.button a {
    font-weight: 800;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.medium {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.gallery {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2em;
}

.empty-image {
    width: 65%;
    height: 145px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 8em;
    margin-bottom: 10px;
}

.gallery-slot {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    align-items: center;
}

.gallery-slot p {
    color: grey;
    text-align: center;
}

.quote-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: #E5E7EB;
}

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;	
}

h1 {
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
    font-weight: 900;
    text-wrap: wrap;
    padding: 3px 0;
}